div.event {
	padding: 10px 10px 10px 20px;
}

div.event_desc {
	margin-top: 10px;
}

div.event_desc h4 {
	margin: 5px 0;
}

div.event_desc h5 {
	margin-left: 1em;
	color: #333;
}

div.event_desc p {
	margin-left: 2em;
	margin-bottom: 10px;
}

div.event_desc ul {
	margin-left: 3em;
}

div.event_desc ul ul {
	margin-left: 1em;
}


div.registration_link {
	margin: 10px 0;
	font-weight: bold;
}

div.backto {
	margin-top: 20px;
}

span.closed {
	color: #f00;
	font-weight: bold;
}

span.official_tag {
	font-size: 18px;
	color: #333;
}

div.admin_notice {
	padding: 3px;
	border: 2px solid #f00;
	background: #ffcccc;
	color: #f00;
	font-size: 18px;
	text-align: center;
}


h1#welcome {
	text-align: right;
	background: #fff;
	padding: 3px 10px;
	color: #666;
}

div.event_index {
	padding: 10px;
}

div.event_index h2 {
	font-size: 18px;
	margin-top: 10px;
	padding: 3px;
	color: #666;
}

div.event_index h3 {
	font-size: 16px;
	margin-top: 10px
	margin-left: 2em;
	padding: 3px;
	color: #666;
}


div.event_index ul {
	margin-left: 2em;
}

div.event_index li {
	list-style-type: none;
	margin-bottom: 10px;
}

div.event_index li span.event_name {
	font-size: 20px;
	font-weight: bold;
}

div.epigraph {
	margin: 1em 3em;
	padding: 0 4em;
	color: #666;
	font-size: 18px;
	font-style: italic;
}

div.source {
	font-size: 16px;
	margin-top: 5px;
	padding-left: 2em;
}

div.registration_link {
  margin-left: 2em;
}

div.registration_link {
  margin-left: 2em;
}
