@charset "utf-8";

/*--- initialize --------------------------------------*/

*{
	margin:0px;
	padding:0px;
	font-weight:normal;
	letter-spacing:2px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}

img, table, tr, td, a, form, fieldset {
	border:none;
	}

body {
	background:#1c1205 url(/images/tokyo03/body_bg.gif) top left repeat-x;
	margin:0px;
 	color: #8d8882;
}

/*--- initializeFonts --------------------------------------*/

html, h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
	}

body {
	font-size: 62.5%; /* IE */
	}

html>/**/body {
	font-size: 10px; /* Except IE */
	}

p, caption, th, td, li, q, address{
	font-size:140%;
	}
	
td ul li{
	font-size:inherit;
	font-size:100%; /* IE */
	}

ul li ul li {
	font-size:inherit;
	font-size:100%; /* IE */
	}

h1 {
	font-size:140%;
	}

h2, h3 {
	font-size:200%;
	}

h4, h5 {
	font-size:160%;
	}
	
/*--- defaultTagSettings --------------------------------------*/
	
	
ul, ol {
	margin:15px 0px 15px 30px;
	}
	
ul li {
	list-style:circle;
	}
	
ol li {
	list-style:decimal;
	}
	
q {
	margin: 15px 0px 15px 20px;
	display:block;
	}
	
address {
	font-style:normal;
	margin:10px 0px;
	}

hr {
	margin:10px 0px;
	}

table {
	border:1px solid #fff;
	border-collapse: collapse;
	width:100%;
	margin:0px;
	}
	
table caption {
	text-align:left;
	font-weight:bold;
	margin:0px;
	}
	
table tr td {
	padding:5px;
	border:1px solid #fff;
	border-collapse: collapse;
	color:#1c1205;
	background-color:#e8e7e6;
	}

table tr th { 
	padding:5px;
	border:1px solid #fff;
	border-collapse: collapse;
	font-weight:bold;
	color:#1c1205;
	background-color:#bab7b4;
	}

a, a:visited {
	color: #c61a22;
	text-decoration: none;
	}
	
a:hover {
	text-decoration:underline;
	}
	
a img {
	padding:0px;
	background:none;
	}

h3, h3 a, h3 a:hover, h3 a:visited, h4, h4 a, h4 a:hover, h4 a:visited{
	margin:20px 0px 0px 0px;
	vertical-align: middle;
	color:#fff;
	}


/*--- idAndClass --------------------------------------*/

#container {
	width: 980px;
	margin: 0 auto;
	background: url(/images/tokyo03/container_bg.gif) 0 0 no-repeat;
	}

#usernav {
	height:25px;
	text-align:right;
	padding:5px 20px 0px 5px;
	width:960px;
	margin:0 auto;
	}
	
#usernav h1 {
	float:left;
	color: #69635a;
	padding: 0px 5px 0px 20px;
	}
	
#usernav a, #usernav a:visited{
	color:#1c1205;
	}
	
#usernav ul {
	margin:0px;
	padding: 0px 0px 0px 10px;
	list-style-type:none;
	}
	
#usernav ul li {
	background: url(/images/tokyo03/usernav_list.gif) no-repeat top left;
	padding: 0px 5px 0px 20px;
	display: inline;
	list-style:none;
	}

#header {
	clear:both;
	width: 960px;
	margin: 0 auto;
	}

#sidebar {
	float: left;
	width: 290px;
	margin: 20px;
	}

#register_btn {
	display:block;
	}
	
#register_btn a:hover{
	height:82px;
	position:relative;
	top:1px;
	left:1px;
	}
	
#tags {
	height:100px;
 	background: url(/images/tokyo03/tags_bg.gif) 0 0 no-repeat;
	}
	
#tags p {
	font-size:140%;
	margin-left:90px;
	width:210px;
	margin-bottom:5px;
 	color: #8d8882;
	}

#links {
	text-align:center;
	}
	
#access a{
	padding:0px 5px 0px 20px;
	background: url(/images/tokyo03/content_a_mark.gif) no-repeat top left;
	}

#staffs h4 {
	border-bottom:1px solid #8d8882;
	margin:20px 0px 10px 0px;
	color: #8d8882;
	font-size:140%;
	}

#content {
	float:right;
	width: 620px;
	margin:20px 20px 0px 0px;
	}

#content div {
	margin-bottom:20px;
	}

#content p {
	line-height: 130%;
	}
	
#content a{
	padding:0px 5px 0px 20px;
	background: url(/images/tokyo03/content_a_mark.gif) no-repeat top left;
	}
	
#content h3 {
	color: #fff;
	margin-top:30px 0px 0px 0px;
	background: url(/images/tokyo03/head_bg.gif) no-repeat top left;
	height: 50px;
	padding: 12px 10px 0px 0px;
	}
	
#content h4 {
	border-bottom:1px solid #8d8882;
	margin:20px 0px 10px 0px;
	color: #8d8882;
	}

#footer{
	clear:both;
	border-top: 1px solid #3e352a;
	color: #ddd;
	padding:10px;
	text-align:center;
	font-size: 80%;
	}
	
