<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :all %>
  <title>Admin</title>
</head>
<body>
  <div id="wrapper">
	<div id="container">
  <%= yield %>
	</div>
	<hr />
	<%= link_to 'Top', root_path %>
  </div>
</body>
</html>
